apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: ianmaina/yolo-backend:v1
        ports:
        - containerPort: 4000
        env:
        - name: PORT
          value: "4000"
        - name: MONGODB_URI
          value: "mongodb://mongo-0.mongo:27017/yolo"
